.list {
  text-align: left;
  max-width: 720px;
  margin: auto;

  display: flex;
}

.list-group-item {
  display: block;
  padding: 0 !important;
  margin: 8px;
  max-width: 224px;
  color: #FFF;
  background-color: #0A0A0A;
  border-radius: 8px;

  img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
  }

  .heart {
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 8px;
    width: 20px;
    cursor: pointer;
  }

  span {
    display: block;
    padding: 8px;

    p:first-child {
      font-size: 24px;
      font-family: "Creepster", system-ui;
      margin-bottom: 0;
    }

    .species {
      font-size: 16px;
      color: #A4A4A4;
    }
  }
}

.not-found {
  width: 720px;
  height: 500px;
  background-color: #0A0A0A;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 1px solid #3D3D3D;
  border-radius: 12px;

  p {
    font-size: 18px;
    color: #A4A4A4;
  }

  .title {
    font-size: 24px;
    color: #FAFAFA;
    font-weight: bold;
  }
}

.form-control {
  max-width: 328px;
  border-radius: 12px !important;
}

@media screen and (max-width: 510px) {
  .list {
    justify-content: center;
  }

  .input-group {
    img, form {
      margin: auto;
    }
  }
}
