<div>
  <nav class="navbar navbar-expand navbar-dark justify-content-between">
    <a href="#" class="navbar-brand">
      <img src="assets/logo.png">
    </a>

    <div class="btn-group btn-group-toggle" role="group">
      <label
        class="btn btn-secondary"
        (click)="type = true; setType()"
        [class]="type ? 'btn btn-secondary active-label': 'btn btn-secondary disabled-label'"
      >
        <img [src]="!type ? 'assets/gray-home.png': 'assets/black-home.png'">
        Início
      </label>

      <label
        (click)="type = false; setType()"
        [class]="!type ? 'btn btn-secondary active-label': 'btn btn-secondary disabled-label'"
      >
        <img [src]="!type ? 'assets/heart.png': 'assets/gray-heart.png'">
        Favoritos

        <span class="count">
          {{ count$ | async }}
        </span>
      </label>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
